$primarycolor: #486455;
$secondarycolor : #e4af47;

.ProductPage {
    padding: 1cm 10vw;
}

.product-page {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.5cm;
    align-items: flex-start;
}

.product-page-left {
    display: flex;
    flex-direction: column;
    gap: .4cm;
    width: 100%;
    // border: 1px solid black;
    // flex-shrink: 0;
}

.product-page-right {
    width: 13cm;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: .3cm;
    // border: 1px solid black;
}

.product-name {
    font-size: 26px;
    font-weight: 600;
}

.product-price {
    font-size: 20px;
    color: $primarycolor;
    text-align: left;

}

.product-info {
    line-height: .6cm;
    text-align: left;
}

.product-page-add-to-cart-box {
    display: flex;
    align-items: center;
    gap: .3cm;
    // border: 1px solid black;
    width: fit-content;
}

.quant-img {
    width: .4cm;
    height: auto;
    background-color: rgb(238, 238, 238);
    padding: 0.02cm .1cm;
    border-radius: 0px 5px 0px 0px;
}

.product-page-quantity-box {
    border: 1px solid rgb(177, 177, 177);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
}

.quantity-number {
    padding: .1cm .5cm;
    border-right: 1px solid rgb(177, 177, 177);
}

.quant-img-box {
    // padding: .05cm;
    // border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    cursor: pointer;
    border-radius: 0px 5px 0px 0px;

}

.addImg {
    border-bottom: 1px solid rgb(177, 177, 177);
}

.product-page-add-to-cart-button {
    background-color: $primarycolor;
    border: 3px solid $primarycolor;
    color: $primarycolor;
    padding: .13cm 1cm;
    font-size: 16px;
    border-radius: 5px;
    color: $secondarycolor;
    height: 100%;
    cursor: pointer;
}

.product-stock {
    font-size: 14px;
    text-align: left;
    font-weight: 600;
}

.product-page-category {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: .2cm;

}

.catHead {
    font-weight: 600;
}

.small-images {
    display: flex;
    align-items: center;
    gap: .15cm;
    overflow-x: auto;
    width: 100%;
}

.smallImg {
    width: 2cm;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid transparent;
}

.currentSmallImg {
    border: 3px solid $secondarycolor;
}

.currentImgBox {
    width: 100%;
}

.currImg {
    width: 100%;
}

.imgButtonsProdPage {
    position: relative;
    z-index: 10;
    // margin-top: -.8cm;
    bottom: 0;
    // padding: .2cm;
    left: 0;
    display: flex;
    justify-content: center;
    gap: .5cm;

    right: 0;

    .lai {
        width: .8cm;
        cursor: pointer;
    }

}