@import url('https://fonts.googleapis.com/css2?family=Quattrocento:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=:wght@400;700&display=swap');

$headFont : Quattrocento;

$primarycolor: #486455;
$secondarycolor : #e4af47;

* {
    text-decoration: none;
    padding: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 12px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    cursor: pointer;
    // border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: white;
}


.SliderCusHome {
    // background-color: $primarycolor;
    // width: 100%;
    aspect-ratio: 16/7;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    // border: 5px solid green;
    box-sizing: border-box;
    // height: cover;

    // padding: 0.5cm 0vw 0cm 0vw;

}

.slider-maincus {
    // border: 1px solid white; 
    width: 100vw;
    height: 100svh;
    // padding: 0.5cm 0vw 0cm 0vw;

    overflow: hidden;
    display: flex !important;
    flex-shrink: 0;
    align-items: center;
    position: relative;

    img {
        width: 100%;
        height: auto;
        filter: brightness(50%);
        position: absolute;
        z-index: -1;

    }
}

.main-slider-captioncus {
    position: relative;
    color: $secondarycolor;
    // border: 1px solid white;
    width: 100%;
    margin: 0cm 5vw;
    font-size: 5rem;
    line-height: 2cm;
    font-family: Saira Stencil One;
    // border: 2px solid white;

    &::before {
        position: absolute;
        content: "";

        z-index: 100;


    }
}


.Hero {
    padding: 0cm 0cm 3cm 0cm;
}

.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5cm;
    padding: 3cm 5vw 0cm 5vw;
}

.home-main-div {
    display: flex;
    gap: 2cm;


}

.hbone {
    // transform: scaleX(-1);
    border: 10px solid $primarycolor;
    box-sizing: border-box;
    // border-radius: 10px;
}

.home-main-div-left {
    width: 12cm;
    flex-shrink: 0;
    border-radius: 10px;
    // position: relative;


    // &::before {
    //     content: "";
    //     top: 45%;
    //     left: 55%;
    //     bottom: 0;
    //     right: 0;
    //     width: 7cm;
    //     // height: auto;
    //     // aspect-ratio: 9/16;
    //     position: absolute;
    //     background-image: url("./home-one-sub.png");
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     border: 2px solid black;
    //     background-size: 7cm auto;
    //     z-index: 100;
    // }
}

.hmltt {

    // position: relative;
    // height: auto;


    // &::before {
    //     content: "";
    //     top: 40%;

    //     bottom: 0;
    //     left: -20%;
    //     width: 7cm;
    //     height: auto;
    //     // aspect-ratio: 9/16;
    //     border: 2px solid black;
    //     position: absolute;
    //     background-image: url("./home-two-sub.jpg");
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     background-size: 7cm auto;
    //     // z-index: 10;
    // }
}

.home-main-div-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .3cm;
    // border: 1px solid black;
    width: auto;
    flex-grow: 0;
}

.main-div-back {
    width: 100%;
    height: auto;

}

.home-main-head {
    font-family: $headFont;
    font-size: 3rem;
    color: $primarycolor;
    // font-weight: 500;
    font-weight: 600;
}

.main-text {
    // font-size: 18px;
    text-align: left;
    font-family: Poppins;
}


.read-more {
    padding: .35cm .7cm;
    font-size: 17px;
    margin-top: .3cm;
    background-color: $primarycolor;
    border: 2px solid $primarycolor;
    transition: .3s;
    cursor: pointer;
    color: $secondarycolor;

    &:hover {
        background-color: transparent;
        color: $primarycolor;
    }
}

.home-features {
    // border: 1px solid black;
    margin-top: 8cm;
    background-color: $primarycolor;
    display: flex;
    gap: 1cm;
    padding: .5cm 5vw;

    justify-content: space-between;
}

.fhead-main-new {
    font-size: 2.5rem;
    width: 100%;
    // border: 1px solid black;
    font-style: $headFont;
}

.home-features-right {
    width: 15cm;
    flex-shrink: 0;
    height: 100%;
}

.home-features-left-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    //    padding: .5cm 0cm;
    // justify-content: space-evenly;
    gap: 1cm;
    // border: 1px solid red;
    width: 100%;
}

.home-features-left {
    display: flex;
    // flex-direction: column;
    // flex-wrap: wrap;
    // padding: 1cm;
    gap: 5cm;
    // border: 1px solid black;
    width: 100%;
    height: 100%;
    // margin-top: 1cm;
    // justify-content: space-around;
    justify-content: center;
    align-items: center;
    // align-items: center;

}

.home-features-left-one,
.home-features-left-two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1cm;
    justify-content: space-around;
    align-items: center;
}

.feature-back-img {
    width: 100%;
}

.feature {
    // border: 1px solid black;
    // width: 5cm;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: .2cm;
    align-items: center;
    padding: 0cm .3cm;
}

.fimg {
    width: 2cm;
}

.fname {
    font-family: $headFont;
    font-size: 18px;
    margin-top: .2cm;
    color: $secondarycolor;
}

.ftext {
    font-size: 16px;
    line-height: .58cm;
    color: rgba(255, 255, 255, 0.678);
}

.collection-box {
    margin-top: 5cm;
    padding: 0cm 5vw;

}

.OcollectionsM {
    margin-top: 1cm;
    column-count: 2;
    justify-content: center;
    column-gap: .15cm;



}

.collection {
    // border: 1px solid black;
    padding: .3cm;

}

.fc {
    width: 10cm;
    height: 8cm;
    // background-color: rgb(231, 231, 231);
    position: relative;
    border-radius: 10px;

    &::before {
        content: "";
        position: absolute;
        background-image: url("./wear.jpg");
        inset: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(70%);
        z-index: -1;
        border-radius: 10px;
    }

}

.sc {
    width: 10cm;
    height: 5cm;
    // background-color: rgb(231, 231, 231);
    margin-top: .15cm;
    border-radius: 10px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url("./play.jpg");
        inset: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(80%);
        border-radius: 10px;
        z-index: -1;
    }


}

.tc {
    width: 10cm;
    height: 5cm;
    // background-color: rgb(231, 231, 231);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url("./bed.jpg");
        inset: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(70%);
        z-index: -1;
        border-radius: 10px;
    }


}

.foc {
    margin-top: .15cm;
    width: 10cm;
    height: 8cm;
    // background-color: rgb(231, 231, 231);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url("./walk.jpg");
        inset: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(80%);
        z-index: -1;
        border-radius: 10px;
    }

}

.ctext {
    color: white;
    background-color: $primarycolor;
    font-size: 15px;
    width: fit-content;
    padding: .1cm .4cm;
    border-radius: 1000px;
}

.collections {
    margin-top: 1cm;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: .7cm;
}

.collection {
    padding: 1cm;
    width: 5cm;
    height: 5cm;
    // border: 1px solid black;
    border-radius: 10px;
    background-color: #e7c278;
    width: fit-content;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(248, 60, 92);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: .3s all ease;

    &:active {
        box-shadow: none;
    }
}

.coltext {
    font-size: 55px;
    font-weight: bolder;
    letter-spacing: .1cm;
    font-family: Saira Stencil One;




}

.wear {
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("./wear.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        opacity: .1;
    }
}

.walk {
    background-color: #e7c278;
    color: rgb(134, 13, 247);
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("./walk.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        opacity: .1;
    }
}

.coplay {
    background-color: #e7c278;
    color: forestgreen;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("./play.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        opacity: .1;
    }
}

.sleep {
    background-color: #e7c278;
    color: rgb(31, 83, 238);
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("./bed.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        opacity: .1;
    }
}



.featured-products-box {
    margin-top: 5cm;
    padding: 0cm 5vw;
    // border: 10px solid black;
    box-sizing: border-box;
    overflow-x: auto;
}

.featured-products {
    display: flex;
    flex-shrink: 0;
    overflow-x: auto;
    gap: .7cm;
    padding: .3cm;
    margin-top: .5cm;
    justify-content: center;


}

.fproduct {
    width: 7cm;
    border: 3px solid $primarycolor;
    padding: .15cm;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: .3cm;
}

.prodimg {
    width: 80%;
}

.fprod-upper {
    display: flex;
    flex-direction: column;
    gap: .5cm;
    background-color: $primarycolor;
    padding: .5cm .5cm;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    border: 2px solid $primarycolor;

    &:hover {
        background-color: white;

        .prod-cat {
            color: $primarycolor;
        }

        .prod-name {
            color: $primarycolor;
        }

        .prod-price {
            color: #486455;
        }
    }
}

.prod-name {
    font-size: 18px;

    font-style: $headFont;


    line-height: .6cm;
    color: $secondarycolor;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.prod-cat {
    font-size: 12px;
    color: white;
    margin-bottom: .2cm;
    // color: rgba(255, 255, 255, 0.623);

}

.prod-desc {
    display: flex;
    flex-direction: column;
    // gap: .1cm;
}

.prod-price {
    color: $primarycolor;
    // font-weight: 600;
    color: $secondarycolor;
}

.add-cart {
    padding: 0cm .5cm;
    width: 100%;
    background-color: $primarycolor;
    border: 3px solid $primarycolor;
    cursor: pointer;
    font-size: 1rem;
    transition: .3s all ease;
    color: white;
    height: 100%;

    &:hover {
        background-color: transparent;
        color: $primarycolor;
    }
}



.carousel {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.fhmm {
    color: white;
}

.transformations {
    margin-top: 5cm;
    padding: 0cm 0vw;
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.transformations-slider {

    display: flex;
    justify-content: flex-start;
    width: 20cm;
    overflow: hidden;
    height: auto;
    padding: .5cm;
    margin-top: 1cm;
    // border: 1px solid rgb(221, 221, 221);
}

.slide {
    // width: 20cm;
    // border: 1px solid black;
    display: flex;
    justify-content: center;
    gap: .5cm;
    align-items: center;
    // height: auto;
    // opacity: 0;
    // transition: opacity 0.7s ease;
}


.slide-left {
    // border: 1px solid black;
    width: 50%;
    // aspect-ratio: 9/16;
    height: fit-content;

    position: relative;
}

.slide-right {
    // border: 1px solid black;
    width: 50%;
    // aspect-ratio: 9/16;

    height: fit-content;
    position: relative;
}

.before {
    // border: 1px solid red;
    padding: .15cm 1cm;
    width: fit-content;
    font-size: 24px;
    position: absolute;
    background-color: $primarycolor;
    color: $secondarycolor;
    // border-radius: 1000px;
    // z-index: 12;
    // padding: .3cm;

    bottom: 0;
    margin-bottom: .2cm;
    left: 0;



}

.after {
    // border: 1px solid red;
    padding: .15cm 1cm;
    width: fit-content;
    font-size: 24px;
    position: absolute;
    color: $secondarycolor;
    background-color: $primarycolor;
    // border-radius: 10px;
    z-index: 12;
    // padding: .3cm;

    bottom: 0;
    margin-bottom: .2cm;
    left: 0;


}

.slide-left-img {
    width: 100%;

}









.transformed {
    width: 1cm;
    height: 1cm;
    cursor: pointer;
    opacity: .4;
    transition: .3s;

    &:hover {
        opacity: 1;
    }
}

.transformedR {
    transform: rotate(180deg);
}




.slick-slider-custom {
    margin-top: .7cm;
    // margin-bottom: .3cm;
    width: 21.5cm;
    // border: 2px solid green;
    height: auto;
    display: flex !important;
    gap: .5cm;
    align-items: center;
    justify-content: flex-start;
    // border: 1px solid red;
    // border: 1px solid red;
    // position: relative;
}

.slick-slide-custom {
    // Optional slide styling
    display: flex !important;
    gap: .3cm;
    justify-content: flex-start;
    // height: 13.1cm;

}


.slick-slide-img-custom {
    width: 10cm;
}

.home-features-new-ssd {
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    gap: 2cm;
    // width: 100%;
    width: 20cm !important;
    overflow: auto;
    // border: 1px solid white;



}



.slick-two-slider-new {
    // border: 1px solid red;
    width: 100%;
    display: flex !important;

}

.thh {
    position: absolute;
    z-index: 1000;
    opacity: 1;
    padding: .3cm 1cm;
}

.thhr {
    right: 0;
}

.fprod-lower {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 1.2cm;
    gap: .2cm;
    // border: 1px solid black;
}

.heart-box {
    width: auto;
    height: calc(100% - .3cm);
    aspect-ratio: 1/1;
    padding: .1cm;
    display: flex;
    align-items: center;
    border: 2px solid $primarycolor;
}

.heart {
    width: 100%;
    height: auto;
}



@media only screen and (max-width : 1200px) {
    .home-main-div {
        gap: 1cm;
    }

    .collection {
        width: 4cm;
        height: 4cm;
    }

    .fproduct {
        width: 6cm;
        gap: .2cm;
    }

    .fprod-upper {
        padding: .3cm;
    }

    .prod-name {
        font-size: 16px;
        line-height: .5cm;
    }
}

@media only screen and (max-width : 1100px) {
    .featured-products {
        justify-content: flex-start;
    }
}


@media only screen and (max-width : 1000px) {
    .slick-slider-custom {
        width: 100%;
        padding: 0cm 5vw;
        // margin-top: 1.5cm;
    }

    .home-main-div-left {
        width: 10cm;
    }
}

@media only screen and (max-width : 900px) {
    .home-main-div {
        flex-direction: column;
    }

    .htwoow {
        flex-direction: column-reverse;
    }

    .home-main-head {
        font-size: 40px;
    }
}

@media only screen and (max-width : 800px) {
    .fproduct {
        width: 5.5cm;
        gap: .2cm;
    }

    .nproducts {
        gap: .5cm .3cm;
    }

    .fprod-upper {
        padding: .3cm;
    }

    .prod-name {
        font-size: 14px;
        line-height: .5cm;
    }

    .add-cart {
        padding: .15cm;
        font-size: 14px;
    }
}

@media only screen and (max-width : 700px) {
    .main-slider-captioncus {
        font-size: 70px;
    }

    .collection {
        width: 4cm;
        height: 4cm;
    }

    .home-main-head {
        font-size: 32px;
    }

    .before,
    .after {
        // padding: .2cm;
        font-size: 16px;
        padding: 0.2cm .5cm;

    }
}


@media only screen and (max-width : 600px) {
    .slider-maincus {
        img {
            width: 100%;
            height: 100%;
        }
    }

    .home-main {
        padding: 1cm 5vw;
        gap: 3cm;
    }

    .collection-box {
        margin-top: 3cm;
    }

    .featured-products-box {
        margin-top: 3cm;
    }

    .collection {
        width: 3cm;
        height: 3cm;
    }

    .main-slider-captioncus {
        font-size: 60px;
        line-height: 1.8cm;
    }

    .coltext {
        font-size: 45px;
    }
}

@media only screen and (max-width : 500px) {
    .home-main-div-left {
        width: 100%;
    }

    .collection {
        width: 3cm;
        height: 3cm;
    }

    .coltext {
        font-size: 40px;
    }

    .main-slider-captioncus {
        font-size: 50px;
        line-height: 1.5cm;
    }

    .home-main-head {
        font-size: 28px;
    }
}

@media only screen and (max-width : 450px) {
    .collection {
        width: 2cm;
        height: 2cm;
    }

    .coltext {
        font-size: 32px;
    }

    .nproducts {
        gap: 1cm;
    }

    .fproduct {
        width: 100%;
    }

    .prod-name {
        font-size: 16px;
    }

    .add-cart {
        font-size: 16px;
        padding: .3cm;
    }
}

@media only screen and (max-width : 400px) {
    .collection {
        width: 1.3cm;
        height: 1.3cm;
    }

    .coltext {
        font-size: 30px;
    }
}