@import url('https://fonts.googleapis.com/css2?family=Quattrocento:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=:wght@400;700&display=swap');

$headFont : Quattrocento;

$primarycolor: #486455;
$secondarycolor : #e4af47;

* {
    text-decoration: none;
    padding: none;
    margin: 0;
}

.Slider {
    background-color: $primarycolor;
    // width: 100%;
    aspect-ratio: 16/9;
    // height: 2cm;
    padding: 1cm 10vw 2cm 10vw;

}

.slider-box {
    // border: 1px solid white;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-image: url("./gwalk.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(55%);
    }
}

.Hero {
    padding: 0cm 0cm 3cm 0cm;
}

.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6cm;
    padding: 3cm 10vw 0cm 10vw;
}

.home-main-div {
    display: flex;
    gap: 4cm;


}

.home-main-div-left {
    width: 11cm;
    // border: 1px solid black;
    position: relative;
    // z-index: 100;

    &::before {
        content: "";
        top: 30%;
        left: 55%;
        bottom: 0;
        right: 0;
        width: 7cm;
        height: auto;
        aspect-ratio: 9/16;
        position: absolute;
        background-image: url("./imageT.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 7cm auto;
        // z-index: 10;
    }
}

.hmlt {
    width: 11cm;
    // border: 1px solid black;
    position: relative;
    // z-index: 100;

    &::before {
        content: "";
        top: 30%;

        bottom: 0;
        left: -20%;
        width: 7cm;
        height: auto;
        aspect-ratio: 9/16;
        position: absolute;
        background-image: url("./imageT.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 7cm auto;
        // z-index: 10;
    }
}

.home-main-div-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .3cm;
    // border: 1px solid black;
    width: 10cm;
}

.main-div-back {
    width: 100%;
}

.home-main-head {
    font-family: $headFont;
    font-size: 3rem;
    color: $primarycolor;
    // font-weight: 500;
}

.main-text {
    // font-size: 18px;
    text-align: left;
    font-family: Poppins;
}


.read-more {
    padding: .35cm .7cm;
    font-size: 17px;
    margin-top: .3cm;
    background-color: transparent;
    border: 1px solid $primarycolor;
    transition: .3s;
    cursor: pointer;

    &:hover {
        background-color: $primarycolor;
        color: white;
    }
}

.home-features {
    display: flex;
    gap: 1cm;
    margin-top: 6cm;
    justify-content: space-between;
    background-color: #dfffeebd;


}

.home-features-right {
    width: auto;
    flex-shrink: 0;
    height: 100%;
}

.home-features-left {
    display: flex;
    flex-wrap: wrap;
    padding: 1cm;
    gap: .5cm;
    // border: 1px solid black;
    justify-content: space-around;
    align-items: center;
}

.feature-back-img {
    width: 100%;
}

.feature {
    // border: 1px solid black;
    width: 9cm;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: .2cm;
    align-items: center;
}

.fimg {
    width: 1.6cm;
}

.fname {
    font-family: $headFont;
    font-size: 2.2rem;
    margin-top: .2cm;
    color: $primarycolor;
}

.ftext {
    font-size: 1rem;
}

.collection-box {
    margin-top: 3cm;
    padding: 0cm 10vw;

}

.OcollectionsM {
    margin-top: 1cm;
    column-count: 2;
    justify-content: center;
    column-gap: .15cm;



}

.collection {
    // border: 1px solid black;
    padding: .3cm;

}

.fc {
    width: 10cm;
    height: 8cm;
    // background-color: rgb(231, 231, 231);
    position: relative;
    border-radius: 10px;

    &::before {
        content: "";
        position: absolute;
        background-image: url("./wear.png");
        inset: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(70%);
        z-index: -1;
        border-radius: 10px;
    }

}

.sc {
    width: 10cm;
    height: 5cm;
    // background-color: rgb(231, 231, 231);
    margin-top: .15cm;
    border-radius: 10px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url("./play.png");
        inset: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(80%);
        border-radius: 10px;
        z-index: -1;
    }


}

.tc {
    width: 10cm;
    height: 5cm;
    // background-color: rgb(231, 231, 231);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url("./bed.png");
        inset: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(70%);
        z-index: -1;
        border-radius: 10px;
    }


}

.foc {
    margin-top: .15cm;
    width: 10cm;
    height: 8cm;
    // background-color: rgb(231, 231, 231);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url("./walk.png");
        inset: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(80%);
        z-index: -1;
        border-radius: 10px;
    }

}

.ctext {
    color: white;
    background-color: $primarycolor;
    font-size: 15px;
    width: fit-content;
    padding: .1cm .4cm;
    border-radius: 1000px;
}

.collections {
    margin-top: 1cm;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: .7cm;
}

.collection {
    padding: 1cm;
    width: 4cm;
    height: 4cm;
    // border: 1px solid black;
    border-radius: 10px;
    background-color: pink;
    width: fit-content;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(248, 60, 92);
    cursor: pointer;
    transition: .3s all ease;
}

.coltext {
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: .1cm;
    font-family: Kdam Thmor Pro;

}

.walk {
    background-color: rgb(224, 191, 255);
    color: rgb(134, 13, 247);
}

.coplay {
    background-color: rgb(173, 240, 173);
    color: forestgreen;
}

.sleep {
    background-color: rgb(187, 204, 255);
    color: rgb(31, 83, 238);
}