$primarycolor: #486455;
$secondarycolor : #e4af47;

.add-pet {
    background-color: $primarycolor;
    border: none;
    font-size: 1rem;
    color: $secondarycolor;
    padding: .3cm 1cm;
    border-radius: 5px;
    cursor: pointer;
}

.overlay-add-pet {
    // position: fixed;
    // inset: 0;
    // backdrop-filter: blur(5px);
}